@media screen and (max-width: 1310px) {
.footer {
    position: relative;
    height: 385px;
    width: 100%;
    background-color: var(--primary-texst-color);
    padding-top: 20px;
}
}

.footer__block{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.footer__menu-img {
    display: block;
    position: absolute;
    top: -140px;
    left: -10px;
    height: 480px;
    width: 375px;
    opacity: 0.05;
    z-index: 1;
    background-size: 160%;
    // transform: rotate(15deg);
    background-repeat: no-repeat;
    background-image: url(../../img/Group.png);
}

.footer__container {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    height: 385px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 122px;
    margin-bottom: 28px;
        animation-duration: 1500ms;
        transition: transform 250ms ease-in-out;

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
}

.menu-list__link {
    font-size: 14px;
    line-height: 240%;

    color: var(--primary-white-color);

    &:hover{
        color: var(--accent-color);
    }
}

.social-list {
    display: flex;
}

.social-list__item {
    margin-right: 28px;
    
}

.social-list__item:last-child {
    margin-right: 0px;
}

.social-list__svg {
    width: 17px;
    height: 17px;
    fill: var(--primary-white-color);

    &:hover,
    &:focus{
        transform: scale(1.1);
        fill: var(--accent-color);
    }
}



.menu-list__item {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 240%;
    color: var(--primary-white-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-list__link {
    position: relative;
    display: inline-block;
}
.menu-list__link:after {
    content: '';
    position: absolute;
    top: 33px;
    left: -5%;
    z-index: 1;
    width: 0%;
    height: 1px;
    background-color: var(--accent-color);
}

.menu-list__link:hover::after,
.menu-list__link:focus::after{
    transition: all 1s;
    width: 110%;
}


.menu-list__link:hover,
.menu-list__link:focus {
    color: var(--accent-color);
}
.list-pay {
    display: flex;
    margin-top: 29px;
    margin-bottom: 20px;
    
}

.list-pay__item {
    margin-right: 29px;
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.list-pay__item:last-child {
    margin-right: 0px;
}

.avtor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--primary-white-color);
    opacity: 0.3;
    padding-top: 16px;
}

.avtor-info__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: var(--primary-white-color);
}

@media screen and (min-width: 1320px) {
    .footer {
        padding-top: 41px;
        // height: 268px;
        background-color: var(--primary-texst-color);
    }
    .footer__menu-img{
        position: absolute;
        height: 690px;
        width: 530px;
        top: -430px;
        left: -40px;
        background-size: 175%;
        transform: matrix(-1, 0, 0, 1, 0, 0)
    }
    .footer__container{
        position: relative;
        height: 260px;
    }

    .footer-logo {
        width: 180px;
        margin-right: 380px;
    }

    .footer-info{
        display: inline-flex;
    }

    .footer__menu{
        display: flex;
    }

    .menu-list{
        margin-right: 117px;
    }
    
    .menu-list__link {
        font-size: 16px;
    }
    
    .social-list {
        display: flex;
        margin-left: 138px;
    }
    
    .social-list__item {
        margin-right: 50px;
    }
    
    .list-pay {
        justify-content: flex-end;
        margin-top: 41px;
        margin-bottom: 31px;
    }
    
    .list-pay__item {
        margin-right: 16px;
    }
}